*{
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}

.header{
  background: darkslateblue;
  text-align: center;
  padding: 10px;
  margin-bottom:10px;
}

.container {
  background: thistle;
  height:100vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.container {
  background: #E5D6EE;
  height:50vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
}

.item {
  background: lavender;
  color: white;
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.shapeshifter {
  background: plum;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  top:57%;
  left:43%;
  transform: translate(0%, 100%);
  transition: 2s
}

.shapeshifter:hover {
  background: #61A1C4;
  border-radius:0;
  transform: translate(30%, 30%) scale(2);
}

.sources {
    background: #E5D6EE;
    height:50vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: inherit;
}

.footer{
    background: darkslateblue;
      text-align: center;
      padding: 20px;
      margin-bottom:0px;
}
