*{
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}

.header{
  background: darkslateblue;
  text-align: center;
  padding: 10px;
  margin-bottom:10px;
}

.container {
  background: thistle;
  height:100vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.container {
  background: #E5D6EE;
  height:50vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
}

.item {
  background: lavender;
  color: white;
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.shapeshifter {
  background: plum;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  top:55%;
  left:42%;
  transform: translate(0%, 100%);
  transition: 2s
}

.shapeshifter:hover {
  background: #61A1C4;
  border-radius:0;
  transform: translate(10%, 10%) scale(2);
}


.button {
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 200px;
  transition-duration: 0.4s;
  cursor: pointer;
  top: 200px;
}

.button1 {
  background-color: whitesmoke;
  color: black;
  border: 2px solid Peru;
}

.button1:hover {
  background-color: Peru;
  color: white;
}

.button2 {
  background-color:whitesmoke;
  color:black;
  border: 2px solid  Peru;
}

.button2:hover {
  background-color:Peru;
  color: white;
}


.sources {
    background: #E5D6EE;
    height:50vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: inherit;
}

.footer{
    background: darkslateblue;
      text-align: center;
      padding: 20px;
      margin-bottom:0px;
}
