*{
  box-sizing: border-box;
}

body{
  background: seagreen;
}

.header{
  background: darkslateblue;
  text-align: center;
  padding: 10px;
  margin-bottom:10px;
}


.main-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.main-container div {
  background:lavender;
  padding:10px;
}

.nav {
  width:25%;
}

.center {
width:50%;
}

.right {
width:25%;
}

.footer {
  background: lavender;
  padding:10px;
}


@media screen and (min-width:900px) {
  body{
    background: lightblue;
  }

  .main-container {
    flex-direction: column;
}

  .nav, .center, .right {
    width:100%
  }
}

@media screen and (max-width:600px) {
  html {
    background: lightsalmon
    font-size: 25px;
  }
  body {
    background: lightblue;
  }
}
